
<div>
  <a class="hiddenanchor" id="signin"></a>
  <div class="login_wrapper">
    <div class="animate form login_form">
      <section class="login_content">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.hidden_field :reset_password_token %>
          <h1>Altere sua senha</h1>
          <div>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em><br />
              <% end %>
              <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control", placeholder: "Senha" %>
          </div>
          <div>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Confirmação de senha" %>
          </div>
          <div style="display: flex; flex-direction: row; justify-content: center;">
            <%= f.submit "Trocar senha", class: "btn btn-default submit", style: "margin: 0; width: 50%;"%>
          </div>

          <div class="clearfix"></div>
        <% end %>
      </section>
    </div>
  </div>
</div>


