    <div>
      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <h1>Cadastro</h1>
              <div>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "E-mail" %>
              </div>
              <div>
                <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Senha" %>
              </div>
              <div>
              
                <%= f.password_field :password_confirmation, autocomplete: "current-password", class: "form-control", placeholder: "Confirmação de Senha" %>
              </div>
              <div>
                <%= f.submit "Cadastre-se",style:"width: 75%", class: "btn btn-default submit w-5" %>
              </div>

              <div class="clearfix"></div>
                <%#= render "users/shared/error_messages", resource: resource %>

              <div class="separator">
                <%= render "users/shared/links", class: "to_register" %>

                <div class="clearfix"></div>
                <br />

                <div>
                  <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                  <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 4 template. Privacy and Terms</p>
                </div>
              </div>
            <% end %>
          </section>
        </div>
      </div>
    </div>